In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('../Data/clean_athlete.csv')
data.head()

,Name,Gender,Age,Height,Weight,Year,Country,NOC,Sport,Medal,Gold,Silver,Bronze,Total
0,A Dijiang,Male,24,180,80,1992,China,CHN,Basketball,None,0,0,0,0
1,A Lamusi,Male,23,170,60,2012,China,CHN,Judo,None,0,0,0,0
2,Gunnar Nielsen Aaby,Male,24,175,70,1920,Denmark,DEN,Football,None,0,0,0,0
3,Edgar Lindenau Aabye,Male,34,175,70,1900,Denmark,DEN,Tug-Of-War,Gold,1,0,0,1
4,"Cornelia ""Cor"" Aalten (-Strannood)",Female,18,168,70,1932,Netherlands,NED,Athletics,None,0,0,0,0

In [3]:
data = data[['Gender', 'Age', 'Height', 'Weight', 'Country', 'Sport', 'Medal']]

In [4]:
data.head()

   Gender  Age  Height  Weight      Country       Sport Medal
0    Male   24     180      80        China  Basketball  None
1    Male   23     170      60        China        Judo  None
2    Male   24     175      70      Denmark    Football  None
3    Male   34     175      70      Denmark  Tug-Of-War  Gold
4  Female   18     168      70  Netherlands   Athletics  None

In [5]:
from sklearn.preprocessing import LabelEncoder

gender_encoder = LabelEncoder()
country_encoder = LabelEncoder()
sport_encoder = LabelEncoder()
data['Gender'] = gender_encoder.fit_transform(data['Gender'])
data['Country'] = country_encoder.fit_transform(data['Country'])
data['Sport'] = sport_encoder.fit_transform(data['Sport'])

In [6]:
data.head()

   Gender  Age  Height  Weight  Country  Sport Medal
0       1   24     180      80       42     11  None
1       1   23     170      60       42     38  None
2       1   24     175      70       54     31  None
3       1   34     175      70       54     65  Gold
4       0   18     168      70      138      7  None

# Training

In [7]:
x = data.drop(['Medal'], axis=1)
y = data['Medal']

In [8]:
y.value_counts()

None      192413
Bronze     12276
Gold       12256
Silver     11994
Name: Medal, dtype: int64

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [10]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier()
model.fit(x_train, y_train)

predictions = model.predict(x_test)

score = accuracy_score(y_test, predictions)
score

0.7858827640429807

In [11]:
from sklearn.linear_model import LogisticRegression

model2 = LogisticRegression()
model2.fit(x_train, y_train)

predictions = model2.predict(x_test)

score = accuracy_score(y_test, predictions)
score

D:\Anaconda\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.8411810954835328

# Model

In [12]:
import pickle

In [13]:
pickle.dump(model2, open('model.pkl','wb'))
pickle.dump(gender_encoder, open('gender.pkl','wb'))
pickle.dump(country_encoder, open('country.pkl','wb'))
pickle.dump(sport_encoder, open('sport.pkl','wb'))

In [15]:
load_model = pickle.load(open('model.pkl','rb'))

In [16]:
y_pred_loaded = load_model.predict(x_test)

In [17]:
score_loaded = accuracy_score(y_test, y_pred_loaded)
score_loaded

0.8411810954835328